body {
  font-family: 'Montserrat', sans-serif;
  background-color: #111827 !important;
}

/* --------------------
    HEADER STYLES 
-------------------- */

/* search box */
.search-box {
  max-width: 500px;
}

/* search field */
#input-field {
  background-color: #161e2d;
  color: #d9dbde;
  border: 1px solid #2d3646;
}

/* search button */
.search-button {
  width: 6.875rem;
  padding: 0.6em;
  background-color: #3c079e;
  color: #fff;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.4s cubic-bezier(0.73, 0.5, 0.12, 0.79),
    box-shadow 0.4s cubic-bezier(0.73, 0.5, 0.12, 0.79);
}

.search-button:hover {
  background-color: #610bff;
  box-shadow: 5px 0px 11px 1px #3c079e;
}

/* --------------------
    MAIN STYLES 
-------------------- */

main {
  display: flex;
  width: 100%;
}

/* products */

.product-container {
  width: calc(100% - 350px);
}

#all-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: space-evenly;
}

.single-product {
  width: 21rem;
  background-color: #1c1a27;
  border-radius: 25px;
  color: #fff;
  box-shadow: -25px -25px 49px #0f1520, 25px 25px 49px #1d273b;
  border: 1px solid yellow;
  transition: 0.3s;
}

.single-product:hover {
  border: 1px solid #00ffff;
}

.single-product__img {
  background-color: #161e2d;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: inset 21px 21px 42px #0b0f17, inset -21px -21px 42px #212d44;
}

/* cart */

.cart-container {
  width: 25%;
}

.cart {
  width: 350px;
  padding: 10px;
  position: fixed;
  right: 0;
  border-radius: 23px;
  background: #011827;
  color: #fff;
  box-shadow: 20px 20px 40px #010f18, -20px -20px 40px #012136;
}

@media screen and (max-width: 768px) {
  .product-container {
    width: calc(100% - 300px);
  }

  .single-product {
    width: 18rem;
  }
  .cart {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .product-container {
    width: calc(100% - 200px);
  }
  .single-product {
    width: 15rem;
  }
  .cart {
    width: 200px;
  }
}

@media screen and (max-width: 468px) {
  .product-container {
    width: 80%;
  }
  .single-product {
    width: 12rem;

    margin-left: 20px;
  }
  .cart {
    width: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .cart {
    position: fixed;
    right: unset;
  }
}
